
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;700&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;

}


.linkCabecalho {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}

.apresentacaoDeConteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 36px;
    color: var(--cor-secundaria);
    font-family: Krona One;
    line-height: 56px;
    letter-spacing: 0em;

}

.tituloDestaque {
    color:var(--cor-terciaria);
    font-family: var(--fonte-principal);
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0em;
}

.texto {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.subTitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.links__botao {
    display: flex;
    justify-content: center;
    width:  380px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    gap: 16px; 
    border: 2px solid var(--cor-terciaria);

}

.links__botao:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}